.w {
	    width: 46px;
    height: 44px;
    background: url("http://orig08.deviantart.net/d73a/f/2015/342/2/3/rpg_maker_vx_sprite___yasuo_the_unforgiven_by_geminidrake-d9jg4mp.png") 0 0;
}

.s {
	    width: 46px;
    height: 44px;
    background: url("http://orig08.deviantart.net/d73a/f/2015/342/2/3/rpg_maker_vx_sprite___yasuo_the_unforgiven_by_geminidrake-d9jg4mp.png") 40 40;
}